<!-- NO EVENT TEMPLATE -->
<ng-template #eventNotFound>
  <p>
    <br>
    <ngb-alert [dismissible]="false">
      <strong>{{ eventId }}</strong> Parece no ser un evento válido
    </ngb-alert>
  </p>
</ng-template>

<!-- MODAL TEMPLATE -->
<ng-template #modalContent>
    <p> Nos ayudaría mucho si actualizas tu información antes de subir tu pago 🙂</p>
    <div class="text-right">
      <button mat-button [mat-dialog-close]="'ok'" cdkFocusInitial>Aceptar</button>      
    </div>
  
</ng-template>

<div class="container mat-typography pb-4">
  <ng-container *ngIf="event; else eventNotFound">
    <div class="row">
      <div class="col-12">
        <img src="{{ event.fbImage }}" alt="{{ event.title }}" class="img-fluid">
      </div>
    </div>
    <h1 class="mt-3">{{ event.title }} <small>({{ event.type }})</small></h1>
    <hr>

    <button [disabled]="!enablePaymentsBtn"
            class="float-right"
            mat-raised-button
            (click)="goToPayments()"
            color="accent">Registrar Pago</button>
    
    <br>

    <app-user-form #userInfo
                  [userObs]="user$"
                  [showSaveBtn]="false"
                  (statusChange)="onFormStatusChange($event)"></app-user-form>
            
    <p><strong> Sólo un par de preguntas más...</strong></p>
    <div class="row" [formGroup]="otherQuestions">
      <!-- EB INTEREST -->
      <p class="col-12">¿Cuál es tu interés en los grupos de estudio bíblico de Compa?</p>
      <mat-form-field class="col-12 col-md-6">
        <mat-select placeholder="Selecciona..." formControlName="ebInterest">
          <mat-option *ngFor="let opt of labels.ebInterests" [value]="opt.value">{{ opt.label }}</mat-option>
        </mat-select>
      </mat-form-field>

      <p class="col-12">Eventos previos de Compa a los que has asistido</p>
      <!-- PREVIOUS EVENTS -->
      <div formGroupName="previousEvents">
        <p *ngFor="let opt of labels.previousEvents; let i = index" class="col-12 col-md-6">
          <mat-checkbox [formControl]="otherQuestions.controls.previousEvents.controls.events.controls[i]">
            {{ opt }}
          </mat-checkbox>
        </p>
        <mat-form-field class="col-12 col-md-6">
          <input matInput placeholder="Otro Evento" formControlName="other">
        </mat-form-field>
      </div>
      
    </div>
    <button [disabled]="!validForm"
            class="float-right"
            mat-raised-button
            color="primary"
             (click)="saveOtherQuestions(); userInfo.onSubmit()">Guardar</button>

    <a href="javascript:void(0)" mat-raised-button [routerLink]="['/event', eventId]">Regresar al Evento</a>
  </ng-container>
</div>
