<div *ngIf="showLoading" class="progress fixed-top">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
  </div>
<div class="container">
  <!-- EVENT INFO -->
  <ng-container *ngIf="eventInfo | async as event; else eventNotFound">
    <div class="row">
      <div class="col-12">
        <img src="{{ event.fbImage }}" alt="{{ event.title }}" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-uppercase">{{ event.title }}</p>
        <hr>
        <form #userInfoForm="ngForm" (ngSubmit)="onSubmit()">
            <p><strong>Información Personal</strong></p>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" placeholder="Me llamo..." 
                    [(ngModel)]="currentUser.displayName" name="displayName"
                    required>
            </div>
            <div class="form-group">
              <label>Estatus</label>
              <select name="professionalStatus" class="form-control"
                      [(ngModel)]="currentUser.professionalStatus"
                      required>
                  <option *ngFor="let ps of professionalStatus" [value]="ps.value">{{ ps.label }}</option>
              </select>
            </div>
            <div class="form-group">
                <label>Carrera</label>
                <input type="text" class="form-control" placeholder="Mis estudios son en..."
                      [(ngModel)]="currentUser.degree" name="degree"
                      required>
            </div>
            <div class="form-group">
                <label>Campus</label>
                <input type="text" class="form-control" placeholder="Campus/Escuela"
                      [(ngModel)]="currentUser.school" name="school"
                      required>
            </div>
            <p><strong>Información Regional</strong></p>
            <div class="form-group">
              <label>Estado</label>
              <select name="state" class="form-control" [(ngModel)]="currentUser.state" required>
                <option *ngFor="let st of states" [value]="st.name">{{ st.name }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Ciudad</label>
              <input type="text" class="form-control"
                    [(ngModel)]="currentUser.city" name="city"
                    required>
            </div>
            <p>Requerimientos Especiales</p>
            <small class="form-text form-muted">
              ¿Tienes alergia a algún medicamento o alimento? ¿Estas bajo algún tratamiento?
            </small>
            <div class="form-group">
              <textarea name="specialNeeds" [(ngModel)]="currentUser.specialNeeds" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-dark btn-lg btn-block" 
                    [disabled]="!userInfoForm.form.valid">Guardar</button>
        </form>
      </div>
    </div>  
  </ng-container>
  
  <!-- NO EVENT  -->
  <ng-template #eventNotFound>
    <p>
      <br>
      <ngb-alert [dismissible]="false">
        <strong>{{ eventId }}</strong> Parece no ser un evento válido
      </ngb-alert>
    </p>
  </ng-template>
  <!-- NO USER -->
  <ng-template #noUser>
    <br>
    <p>
      <ngb-alert [dismissible]="false">
        Al parecer no estas registrado
      </ngb-alert>
    </p>
  </ng-template>
</div>